*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  height: 1200px;

}



.caixa {

  width: 200px;
  height: 200px;
  background-color: silver;
  padding: 24px;
  
}

.caixa-interna {

  width: 100%;
  height: 100%;
  background-color: skyblue;
  text-align: center;

}

.caixa2 {

  width: 200px;
  height: 200px;
  background-color: silver;
  padding: 24px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  
}

.caixa-interna2 {

  width: 100%;
  height: 100%;
  background-color: skyblue;
  text-align: center;
  

}


.caixa3 {

  width: 200px;
  height: 200px;
  background-color: silver;
  padding: 24px;
  position: absolute;
  right	: 0;
  
  
}

.caixa-interna3 {

  width: 100%;
  height: 100%;
  background-color: skyblue;
  text-align: center;  

}

