* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    'main-header main-header'
    'main-aside  main-content'
    'main-footer main-footer';

} 
 
header {

    background-color: lightseagreen;
    grid-area: main-header;

}

.main-heaader ul {

    display: flex;

}

aside {

    background-color: lightslategray;
    grid-area: main-aside;

}

main {

    background-color: lightsalmon;
    grid-area: main-content;
    height: 500px;

}

footer {

    background-color: lightpink;
    grid-area: main-footer;
    height: 50px;

}