@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{

  background-color: #131313;

}

h1{

  color: white;
  font-family: 'Roboto', sans-serif;
     
}

.media-picture{
  
  width: 100%;
  height: 400px;
  background-image: url('https://s2.glbimg.com/2C0hMRuCY_7NfDPjby4_Bjmq8Nc=/e.glbimg.com/og/ed/f/original/2018/03/22/avengers-infinity-war-official-poster-2018-4o.jpg');
  background-size: cover;
  background-position: top;
}
.review-score{

   color: white;
   background-color: #e6bd09;
   padding: 12px;
   
}

h2{

  color: steelblue;
}

p{

color: #bdbdbd;


}

a{
  color: yellow;
}
