.main-title {

  color: #808080;
  font-size:42px;

}

.main-subtitle {


  color:hotpink;
  font-size: 33px;
}

.post {

  
  background-color: #c0bfc0;
  font-size: 15px;
}


.post h1{

  color: rgb(7, 104, 39);
}


.post a {

  color: rgb(250, 245, 242);
  
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 12px;
  border-radius: 12px;
  
}