@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  
  background-color:white;
  height: 2000px;

}

.main-menu{
 
  background-image: url('https://img.freepik.com/free-vector/black-carbon-industrial-background_79145-253.jpg?size=626&ext=jpg');
  max-width: 100%;
  padding: 24px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;

}

.main-menu ul {
  
 
  display: flex;
  gap: 42px;
  list-style: none;
}

.main-menu ul a{

  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  text-decoration: none;
}

.banner{

  color: black;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  
}

