@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp%27');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {

    background-color: #111111;
    
}

main {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'main-menu main-menu'
    'main-video aside-videos';
    
}

header {

    text-align: center;
    line-height: 50px;
    height: 45px;
    margin-bottom: 18px;
    background-color: #464444;
    grid-area: main-menu;
    
}



article {

    color: white;  
    background-color: #3a3939;
    margin: 8px;
    padding: 12px;
    grid-area: main-video;
    
}

article h1 {

    font-size: 32px;
    margin: 24px 0;
    
}

article h2 {

    font-size: 18px;
    margin: 24px 0;
    
}

article img {

    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px #000;
    
}

aside {

    background-color: #3a3939;
    margin: 8px;
    padding: 12px;
    grid-area: aside-videos;

}

section {

    display: flex;
    margin-bottom: 32px;
    
}

section img {

    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px #000;
    
}

.info {

    color: white;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.info h1 {

    font-size: 24px;
    
}

.info h2 {

    font-size: 16px;
    
}

.info h3, p {

    font-size: 14px;
    font-weight: bold;
    
}

