*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  color: white;
  background-color: black;  
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.produtos{
  display: flex;
  justify-content: center;
}

.produtos ul{
  list-style: none;
}

.produtos li{
  margin: 1rem;
}


.produto{
  justify-content: center;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
}

.produto h3{
  text-align: center;
}

.imagem{
  width: 500px;
  height: 300px;
}