* {

  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  

}

body{

  text-align: center;
  
}

@keyframes 	float {
  0%{
   opacity: 0;
   

  }

  50%{
    opacity: 0.5;

  }

  100%{
    
    transform: translate(450px);
  }
}





.circle {
  
  margin: 24px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #18d4f5;
  padding: 24px;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.dh{
   
  width: 50px;
  height: 50px;
  margin: 72px;
  transition: .5s;
  transform-origin: top ;
  
 
}

.dh:hover{

  transform: rotate(90deg);
  
} 

.main-button{

  margin: 25px;
  height: 115px;
  width: 115px;
  color: white;
  background-color: black;
  font-size: 24px;
  border-radius: 12px;
  transition: .8;
 
}

.main-button:hover{

  background-color: yellowgreen;

}

